<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      {# Global stylesheets #}

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css')}}"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.min.css')}}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css')}}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/material_icons.css')}}"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}"/>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
    {% block header %}
        {% include "header.html" %}
    {% endblock %}

    {% block request %}
        {% include "request.html" %}
    {% endblock request %}

    {% block response %}
        {% include "response.html" %}
    {% endblock response %}

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/init_materialize_obj.js')}}"></script>

    {% block extra_js %}
        {# Override this in templates to add extra javascript #}
    {% endblock %}

    </body>
  </html>