<h4>
  Here are your parameters
</h4>

<div class="row">
  <form id="run-task" class="col s12" method="POST">
  <div class="row">
  <div class="input-field col s12">
  <input id="events" type="text" class="validate">
  <label for="events">Number of events</label>
  </div>
  <div class="col s12">
      <input id="start-date" type="text" class="datepicker">
      <label for="start-date" class="">Start date</label>
  </div>
  <div class="col s12">
      <input id="end-date" type="text" class="datepicker">
      <label for="end-date" class="">End date</label>
  </div>
      <div class="input-field col s12">
      <select id="scheduler" class="icons">
        <option value="" disabled selected>Choose your option</option>
        {% for scheduler in schedulers %}
          <option value="{{ scheduler.name }}" data-icon="{{ url_for('static', filename=scheduler.icon) }}">{{ scheduler.name }}</option>
        {% endfor %}
      </select>
      <label>Choose your weapon</label>
    </div>
  </div>
  <button class="btn waves-effect waves-light animate-button" type="submit" name="action">RUN
    <i class="material-icons right">send</i>
  </button>
  </form>
</div>