<div class="row">
<form class="col s12">
<div class="row">
<div class="input-field col s4">
<input id="events" type="text" class="validate">
<label for="events">Number of events</label>
</div><div class="col s4">
    <input type="text" class="datepicker">
</div>
    <div class="col s4">
    <input type="text" class="datepicker">
</div>
    <div class="input-field col s12 m6">
    <select class="icons">
      <option value="" disabled selected>Choose your option</option>
      <option value="" data-icon="images/sample-1.jpg">example 1</option>
      <option value="" data-icon="images/office.jpg">example 2</option>
      <option value="" data-icon="images/yuna.jpg">example 3</option>
    </select>
    <label>Images in select</label>
  </div>
</div>
</form>
</div>